@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@300;700&display=swap");

/* Typography */
h1 {
  font-family: "Pacifico", cursive;
  margin: 12px 0;
}

.bold {
  font-weight: 700;
}

.heart {
  margin-left: 0;
  cursor: pointer;
}

.icon {
transition-duration: 300ms;
}

.icon:hover {
opacity: 40%;
}

/* layout alignment */
.post, .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* General formatting for body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro";
  background-color: #ededed;
  font-size: 14px;
}

/* Formatting for Images */
.avatar {
  width: 34px;
  height: 34px;
  margin: 0 8px;
}

.post-img {
  width: 375px;
  height: 375px;
  background-size: cover;
  background-position: center;
}


/* Formatting for page header */
header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  top: 0;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px solid #c6c6c6;
}

.main {
  margin-top: 56px;
  width: 50vw;

}

/* Formatting for "Posts" */
.post {
  background-color: #ffffff;
  margin: 10px 0;
}

.post-header {
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.post-content {
  width: 346px;
  justify-content: flex-start;
  margin: 4px 0;
}


